body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
#win {
  position: absolute;
  left: 50vw;
  top: 40vh;
  transform: translate(-50%, -50%);
  z-index: 100;
  color: lightgreen;
  font-size: 100px;
  display: none;
}
#over {
  position: absolute;
  left: 50vw;
  top: 40vh;
  transform: translate(-50%, -50%);
  z-index: 100;
  color: tomato;
  font-size: 100px;
  display: none;
}
#restart {
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  z-index: 100;
  font-size: 40px;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
  display: none;
}
#info {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  display: none;
  @media screen and (max-width: 768px) {
    display: flex;
  }
}